.vote-container {
  display: flex;
  flex-direction: row;
}

.vote-container button:hover {
  border-color: var(--tertiary-bg);
}

.vote-container button {
  border: 1px solid var(--primary-text);
  width: auto;
  color: var(--primary-text);
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up:hover {
  color: var(--tertiary-bg);
}

.up {
  border-radius: 100px 0 0 100px;
  border-right: none !important;
  padding: 4px 12px 4px 16px !important;
}

.down:hover {
  color: var(--tertiary-bg);
}

.down {
  border-radius: 0px 100px 100px 0;
  padding: 4px 16px 4px 12px !important;
}
