.vote-container {
  display: flex;
  flex-direction: row;
}

.vote-container button:hover {
  border-color: var(--tertiary-bg);
}

.vote-container button {
  border: 2px solid var(--secondary-text);
  width: auto;
  color: var(--secondary-text);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up:hover {
  color: var(--tertiary-bg);
}

.up {
  border-radius: 100px 0 0 100px;
  border-right: none !important;
  padding: 5px 12px 5px 16px !important;
}

.down:hover {
  color: var(--tertiary-bg);
}

.down {
  border-radius: 0px 100px 100px 0;
  padding: 5px 16px 5px 12px !important;
}

@media only screen and (max-width: 870px) {
  .vote-container button {
    font-size: 1rem;
  }

  .up {
    padding: 2px 12px 2px 16px !important;
  }

  .down {
    padding: 2px 16px 2px 12px !important;
  }
}
