.comments-container {
  font-size: 0.8rem !important;
}
.comment-container {
  padding: 20px 0;
  border-top: 1px solid var(--secondary-text);
}

.comment-author {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.comment-caption {
  margin-left: 28px;
}
