.search-bar {
  border-radius: 100px;
  background-color: white;
  border: 1px solid var(--primary-text);
  padding: 0;
  margin: 30px auto 50px auto;
  width: 580px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.term-input {
  font-size: 1.1rem;
  border: none;
  margin: 0 10px 0 20px;
  padding: 8px;
  flex: 1 1 auto;
}

@media only screen and (max-width: 676px) {
  .search-bar {
    margin: 0px auto 20px auto;
    width: 430px;
    height: 35px;
  }

  .term-input {
    font-size: 0.9rem;
  }
}

.search-button:hover {
  background-color: var(--secondary-bg);
}

.search-button {
  flex: 0 0 50px;
  margin: 0;
  padding: 8px;
  border-radius: 0 100px 100px 0;
  border: none;
  text-align: center;
}
