.subreddit-button:hover {
  background-color: var(--tertiary-bg);
  color: white;
  cursor: pointer;
}

.subreddit-button {
  border-radius: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.subreddit-button img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 30px;
}

@media only screen and (max-width: 870px) {
  .subreddit-button {
    padding: 5px;
    font-size: 0.85rem;
  }
  .subreddit-button img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
}
