.post-container {
  width: 450px;
  height: auto;
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: var(--primary-text);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
  padding: 25px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.caption-container {
  font-size: 1.4rem;
  overflow: hidden;
}

.image-container {
  width: 100%;
  margin: 0 auto;
}

.post-image {
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--secondary-text);
}

.comment-section:hover,
.bookmark:hover {
  color: var(--tertiary-bg);
}

.comment-section,
.bookmark {
  font-size: 1.15rem;
}
