@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Raleway:wght@400;600;700&display=swap");

:root {
  --primary-text: #2b2b2b;
  --secondary-text: #717070;
  --primary-bg: #f3f3f3;
  --secondary-bg: #f3def3;
  --tertiary-bg: #bb00ff;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

/* * {
  box-sizing: content-box;
} */

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  font-family: "DM Sans", sans-serif;
  color: var(--primary-text);
}

*:focus {
  outline: none;
}

.icon-style {
  font-size: 1.4rem;
  color: var(--tertiary-bg);
}

button {
  all: unset;
  cursor: pointer;
}

.flex-standard {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
